@media all and (max-width: 970px) {
    .top_bar {
        visibility: hidden;
    }
}
.top_bar {
    height: 50px;
    border-bottom: 1px solid lightgrey;
    padding: 15px 0;
}
.new {
    width: 40px;
    height: 20px;
    background-color: #00d7d2;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
    float: left;
}
.top_bar_text {
    font-size: 12px;
    color: #5b6987;
    font-weight: bold;
    float: left;
    line-height: 20px;
    margin-left: 5px;
}
.top_bar_text:hover {
    color: #3085ff;
    cursor: pointer;
}
.list-inline > li {
    font-size: 12px;
    color: #5b6987;
    font-weight: bold;
    cursor: pointer;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #0069ff;
}
.navbar-brand > img {
    width: 200px;
}
.navbar-default .navbar-brand {
    padding: 12px 0;
}
.navbar-default .navbar-nav > li > a {
    color: black;
    font-size: 15px;
}
.btn-primary {
    background-color: white;
    border-color: #3085ff;
    color: #0069ff;
    font-weight: bold;
}
.btn-primary:hover {
    color:white;
    background-color: #3085ff;
    border-color: #3085ff;
}
.navbar-right {
    margin-top: 10px;
}
